################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/Net1/.vs
/Net1/bin/Debug/net6.0
/Net1/obj
/Net1_1/bin/Debug/net6.0
/Net1_1/obj
/Net1_2/bin/Debug
/Net1_2/obj
/Client2/bin/Debug
/Client2/obj
/Net2/.vs/Net2
/Net2/obj
/XO-Net/.vs/XO
/XO-Net/bin/Debug
/XO-Net/obj
/UdpClient/bin/Debug/net6.0
/UdpClient/obj
/UdpServer/bin/Debug/net6.0
/UdpServer/obj
/UdpClient/file.txt
/Net3/.vs
/Net3/bin/Debug/net6.0
/Net3/obj/Debug/net6.0
/Net3/obj
/HomeWorks/NetHW1/obj
/HomeWorks/NetHW1_1/obj
/HomeWorks/NetHW2/.vs/NetHW2
/HomeWorks/NetHW2/bin/Debug/net6.0
/HomeWorks/NetHW2/obj
/HomeWorks/NetHW2_1/bin/Debug
/HomeWorks/NetHW2_1/obj/Debug
/HomeWorks/NetHW3/.vs/NetHW3
/HomeWorks/NetHW3/bin/Debug/net6.0
/HomeWorks/NetHW3/obj
/HomeWorks/NetHW3_1/bin/Debug/net6.0
/HomeWorks/NetHW3_1/obj
/HomeWorks/NetHW2_1/obj/Release
/HomeWorks/NetHW4/.vs/NetHW4
/HomeWorks/NetHW4/bin/Debug
/HomeWorks/NetHW4/obj
/HomeWorks/NetHW4_1/bin/Debug
/HomeWorks/NetHW4_1/obj
/HomeWorks/NetHW5/.vs
/HomeWorks/NetHW5/bin/Debug/net6.0
/HomeWorks/NetHW5/obj
